.vscode
Calidad_De_Datos/DataCleaner-5.7.1.zip
Calidad_De_Datos/openrefine-win-3.4.1.zip
Analitica_De_Datos/datasets/creditcard.csv
Analitica_De_Datos/iberia_express/session_2/datasets/datos_pred_demanda.csv
Analitica_De_Datos/iberia_express/session_3/datasets/datos_pred_demanda.csv
*.bin